WTF IS THIS?<br />
If you're at all like me, you hve a ton of projects that you want to do, but yu have a hard time keeping track of them.  Enter ippitsu san, the place where you can keep track of your projects, past and present, their budjetst, their steps, the things keeping youfrom finishing, and then the retrispective (or eulogy) of the projects when you're done with them.<br />
Okay, so what do I keep here?<br />
Every time you come up with an idea for a project, you can create a new project under your account so that you can keep track of it, and finsih it when you have time.  When you're ready to start a project, you can clarify what  you need to do by adding every step you think you're going to need to finish.  This also gives you the opportunity to see how far along you think you are without any guesswork.  If you run into a block, you can add that, so you can figure out how to focus your energy or alter your budget.  Finally, as you spend money on projects, you an easily tarck project expenes by adding them into the budget page.<br />
So, why would I use this over _______ ?<br />
Short answer: because _______ didn't work for me.<br />
Long answer: Personal projets take a lot of work andtime, and it's a real pain in the ass to keep track of all the details that go into them so... what are you going to do?  Me? I need to focus on the individual steps for larger projects or I get overwhelmed with details. I need to keep track of what's keeping me from finishing or I get defeated by details.  And I need to pay attention to what I spend or I'll buy cheaper solutions that don't solve the problems I need solved.  If you need all or some of thse things, then you could benefit by keeping yor projects in Ippitsu.<br />
Final thoughts: There are solutions that are either more complex or simpler than what I'm offering, but I think this is a Goldilocks point for personal project management.<br />
<br />
Okay, I get that, but I have a few questions about the details:<br />
What is a project?<br />
A project is  a placeholder for all of the details about a project, all steps, bloks, and expenses point back to it.  It holds the name, status, description, due date, and budget for the project.<br />
What statuses can I choose?<br />
Any item that has a status can be one of the following:
<ul>
  <li>Thought - this item is only an idea, it might be a feature, new project, or nice-to-have step</li>
  <li>To Do[0-5] - this item needs to be done with priority: 0 - triage, 1 - eventually, 5 - show stopper</li>
  <li>In progress - Working on this right now</li>
  <li>Blocked - I can't complete this until a block is removed</li>
  <li>Hiatus - Nothing is blocking this, I just don't feel like working on it now</li>
  <li>Complete - This item is done and ready for prime time</li>
  <li>Functionaly Complete - I reached the goal to this item, but there's more I could do</li>
  <li>Obsolete - For some reason, this item was solved or made useless</li>
  <li>Dropped - I've given up on this project</li>
</ul>
I need status _______ but I don't see it in the list:<br />
<a href="contact.html">Email me</a> with a case for the status you need, and I might add it.<br />

TODO: Make an FAQ? Move this into it?<br />
I'm so lost, how do I use this?<br />
There's no workflow enforced, but this is how I use it:<br />
<ol>
  <li>Login using your Google account</li>
  <li>Go go the 'Projects' page</li>
  <li>Click on "Add new project"</li>
  <li>Enter yur project's details</li>
  <li>Click "create project"</li>
  <li>Click "add step"</li>
  <li>Enter the details of a step</li>
  <li>Click "add a different step" and repeat until you're done</li>
  <li>When you spend money click "add expense"</li>
  <li>If you get stuck, click "add block"</li>
  <li>When you're done with anything, set it's status to "complete"</li>
  <li>Enjoy your increased productivity</li>
</ol>
