Ippitsu San is a place to store your project ideas, and keep track of your personal progress without having to worry about organizing your data.
If you're like me, you're always coming up with new ideas of cool stuff to do.  However, keeping track of those ideas can be a real pain.
Up until recently your choices for project management were either using a tool that was far too detailed, or a tool that had no benefits of indexing and cataloging.
<ul>
  <li>text file - quickly becomes too large to manage, doesn't support drilling into detail </li>
  <li>excel file - can't easily organize detail data, not portable, regrettably not green</li>
  <li>Paper trail - easily lost, same issues as text file</li>
  <li>writing your own solution - huge PITA</li>
  <li>Professional Project Management Software - too extensive for personal projects, hard to setup/configure</li>
  <li>RTM (or similar) - Doesn't really deal with project-level problems, doesn't pay attention to completed tasks</li>
  <li>Using raw SQL in your own DB - WTF is wrong with you?</li>
  <li>Memorization - Haha, no benefits, plans are forgotten, projects are lost</li>
</ul>

Before you jump in, I recommend reading up on how to <a href="faq.php">use the tool</a>