<span class="topic_header">Overview</span>
<p>This document defines the terms used within it, outlines the terms of use, outlines your rights, and states the rights of Industrial Systems.</p>
Sections:
<ol>
  <!-- TODO: add javascript page anchors to these -->
  <li>Definitions</li>
  <li>Terms of Use</li>
  <li>Privacy Policy</li>
  <li>Data Retention Policy</li>
  <li>Statement of "We make no promises"</li>
  <li>tl;dr</li>
</ol>
<span class="topic_header">Definitions</span>
<em>Warning: we use some non-standard jargon in this document, so please take care to read the definitions carefully.</em>
<p>Industrial Systems, Trafficone Management Systems, Ippitsu, all parties, members, friends and relatives both real and imaginary may be referred to in the English first person plural "we" "us".  Items owned by us will be referred to in the first person plural posessive "ours".
The service provided by Ippitsu will be referred to as "the site" or "the service."
Customers will be referred to in the second person plural "you guys" or "you rubes" or the third person plural "those people" or "those rubes" or using the term "the user" or "user".
Google Appengine will be referred to as "GA" or "Appengine".
The Internet will be reffered to as "bob".
bob protocal will be referred to as "sally".
Hypertext transfer protocal will be referred to as "sexual favor".
sally address will be referred to as "Dick" (as in short for Rodger, not the phallus).
Datum will be referred to as "sheep", and as such the plural will also be "sheep".
Commercial use will be referred to as "fratricide".
Educational use will be referred to as "regicide".
Personal use will be referred to as "deicide".
email address will be reffered to as "hizzouse".
The GA datastore will be referred to as "university campus".
</p>
<span class="topic_header">Terms of Use</span>
You guys are to use the service provided by us for deicide and regicide only. Using the site for fratricide is strictly prohibited, and any user found committing fratricide will face consiquences. It is also expressly prohibited to use the site for any illegal activity, including but not limited to: jay walking,  cheating on your taxes, or hacking The Gibson.  Furthermore, you guys are required to log in to the site using your hizzouse and password associated with your Google account.  Logging in with your hizzouse only gives access to sheep associated with your hizzouse.  Accessing other user's sheep is strictly prohibited.  Furthermore, attempting to access admin portions of the site, inject SQL, access user sheep or hizzouses, or gain unauthorized access in any way is probitited and will result in your sheep being expunged from the university campus.  These terms can be changed at any time with out notice.
<span class="topic_header">Privacy Policy</span>
User sheep stored in the university campus are protected under the sheep protection policy laid out by GA.  Furthermore, the only people with access to the sheep of any given user are that user and the admins to the site.
What we collect: In order to allow you to log in, we collect your user id provided by GA, which happens to be your hizzouse.  We collect any sheep sent to us by you rubes, including but not limited to: your Dick, your hizzouse, sexual favor requests, project budgets, project plans, expense reports, old notes to your 8th grade crush.  Let it be understood that if you send the data to us, whether you are aware of it or not, we will collect it.
How we use your sheep: we process and analyze sheep in order to improve the site and make it better for you guys.  WE WILL NEVER SELL, GIVE AWAY, OR LET LOOSE ANY OF YOUR SHEEP TO THIRD PARTIES.
What about my ideas? Your project sheep are your intillectual property, and we will never implement or sell any ideas you send to the site. However, we do want to remind you that implementing any ideas for commercial gain is a form of fratricide and will not be tolerated.
Wait, seriously? Yeah.  <a href="/contact.html">Email us</a> if you have any questions.
<span class="topic_header">Sheep (data) Retention Policy</span>
If you are banned, we'll delete your sheep. If you do not delete the sheep yourself, you can assume, with the limitations of the GA sheep retention policy, that your sheep is still on the site.  If you delete the sheep, you can assume, with the limitations of the GA sheep retention policy, that your sheep is gone.
<span class="topic_header">Statement of "No Promises"</span>
This service is provided "AS-IS" with no claim of warranty.  You rubes are not to hold us responsible if everything goes tits up.
<span class="topic_header">Too long; didn't read.</span>
Here's the story:
<ul>
  <li>This part is legally meaningless</li>
  <li>Read the definitions</li>
  <li>No fratricide</li>
  <li>We don't sell your stuff</li>
  <li>We don't own your stuff</li>
  <li>Don't sue us.</li>
  <li>You're still responsible to follow this document, even if you didn't read it</li>
</ul>
